{# Voici le header #}
{% block style %}
<link rel="stylesheet" href="/assets/css/header.css">
{% endblock %}
<header>
	<div>
		<div>
			<img src="assets/images/logo-temporaire.svg" alt="logo">
		</div>
		<nav>
			<ul>
				<li>
					<a href="/">Inscription</a>
				</li>
			</ul>
			<ul>
				<li><a href="/">Connexion</a></li>
			</ul>
		</nav>
	</div>
</header>
