{% extends "../layouts/base.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block title %}
{# double {{}} = variable #}
    <title>{{ title }}</title>
{% endblock %}

{% block main %}
<main>
    <section>
        <div>
            <h2>Formulaire de connexion</h2>
        </div>
        <div>
            <form action="./login" method="post">
                <div>
                    <label for="email">Votre E-mail</label>
                    <input id="email" type="text" name="email">
                    {% if error.email %}
                    <p>{{error.email}}</p>
                    {% endif %}
                </div>
                <div>
                    <label for="password">Votre mot de passe</label>
                    <div  class="password">
                    <input id="password" type="password" name="password">
                    <img src="assets/images/eye-close.svg" alt="eye-close" id="eye" onclick="changer()">
                    </div>
                    
                    {% if error.password %}
                    <p>{{error.password}}</p>
                    {% endif %}
                </div>
                <div>
                    <button type="submit">Envoyer</button>
                </div>
            </form>
        </div>
    </section>
</main>
<script>
e=true;
function changer(){
    if(e){
        document.getElementById('password').type='text';
        document.getElementById('eye').src='assets/images/eye.svg';
        e=false;
    }else{
        document.getElementById('password').type='password';
        document.getElementById('eye').src='assets/images/eye-close.svg';
        e=true;
    }
}
</script>

{% endblock %}